@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1.125rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.875rem;
  --primary-font: "Poppins", sans-serif !important;
  --dark: #000;
  --grey: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  font-family: var(--primary-font) !important;

}

.navbar-barnd img {
  height: 40px;
  width: 198px;
}


body {
  height: 100vh !important;
  width: 100% !important;
  overflow-x: hidden;
}

h1 {
  font-size: var(--h1-font-size) !important;
}

h2 {
  font-size: var(--h2-font-size) !important;
}

h3 {
  font-size: var(--h3-font-size) !important;
}

h4 {
  font-size: var(--h4-font-size) !important;
}

h5 {
  font-size: var(--h5-font-size) !important;
}

h6 {
  font-size: var(--h6-font-size) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.passwordBox {
  position: relative;
}

.passwordBox .visibilityBtn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  z-index: 2;
}

.btn--dark-outlined,
.btn--dark {
  padding: 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.btn--dark {
  background-color: #000 !important;
  color: #fff !important;
}

.btn--color {
  padding: 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: white !important;
  background-color: #382570 !important;
}

.btn--color:hover {
  background-color: #4B3A7E !important;
}

.btn-dark:hover {
  background-color: #000 !important;
}

.btn--dark-outlined {
  background-color: #fff;
  color: #000 !important;
  border: 1px solid #000 !important;
}

.placeHolderImage {
  width: 81%;
}

.side-panel {
  width: 20%;
  height: 100vh;
  background-color: var(--grey);
  position: fixed;
  top: 0;
  left: 0;
}

.side-panel-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.side-panel-menu {
  flex-grow: 1;
}

.dashboard-main {
  /* background-color: #000; */
  height: 100vh;
  margin-left: 20%;
  position: relative;
}

.dashboard-main-container {
  background-color: #fff;
  height: 82vh;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow-y: auto;
}

.dashboard-main-container::-webkit-scrollbar {
  width: 2px;
  background-color: #f0f0f0;
}

.dashboard-main-container::-webkit-scrollbar-thumb {
  background-color: #000;
}

.tab-container {
  border-bottom: 1px solid #f0f0f0;
}

.tab-container .tab {
  margin-right: 1rem;
  color: #000;
  font-weight: 600;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.tab-container .tab.active {
  border-bottom: 2px solid #000;
}

.docCard {
  border: 1px solid #777;
}

.container {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: auto 20rem;
  gap: 10px;
  background-color: var(--grey);
  ;
}